@font-face {
    font-family: "hywh";
    src: url("./hywh.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "twt";
    src: url("./twt.ttf");
    font-weight: normal;
    font-style: normal;
}
